In [1]:
conda install -c anaconda openpyxl

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /path/anaconda3

  added / updated specs:
    - openpyxl


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.9.0                |           py37_0         3.0 MB  anaconda
    ------------------------------------------------------------
                                           Total:         3.0 MB

The following packages will be UPDATED:

  conda              conda-forge::conda-4.8.5-py37h2987424~ --> anaconda::conda-4.9.0-py37_0



Downloading and Extracting Packages
conda-4.9.0          | 3.0 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: | WARNING conda.core.path_actions:verify(963): Unable to create environments file. Path not writable.
  environment location: /Users/me/.conda/environments.txt

done
Executing transaction: \ WARNING conda.core.envs_manager:register_env(52): Unable to register environment. Path not writable or missing.
  environment location: /Users/me/opt/anaconda3
  registry file: /Users/me/.conda/environments.txt
done

Note: you may need to restart the kernel to use updated packages.

In [45]:
from openpyxl import load_workbook

In [46]:
#loading the excel file into the Python working enviroment
wb = load_workbook('/Users/me/Downloads/week_05_homework_XLSX_openpyxl.xlsx')

#wb is a workbook object

In [48]:
 type(wb) #workbook object

openpyxl.workbook.workbook.Workbook

In [49]:
wb.get_sheet_names()

/Users/me/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  """Entry point for launching an IPython kernel.

['main', 'another']

In [32]:
print(wb.sheetnames) #ok, looks good!

['main', 'another']

In [50]:
sheet = wb.get_sheet_by_name('main')

sheet_2 = wb.get_sheet_by_name('another')

/Users/me/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.
/Users/me/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
type(sheet_2)#worksheet object

openpyxl.worksheet.worksheet.Worksheet

In [31]:
print(sheet_2)

<Worksheet "another">

In [128]:
#extract values from the first sheet and convert into a data frame
import pandas as pd 

data = sheet.values
col = next(data)[1:]
data = list(data)
col = ['patient id','age','smoking','smart','asdf','min im']
df_1 = pd.DataFrame(data, columns=col)

In [129]:
print(df_1)

    patient id  age  smoking  smart    asdf             min im
0        95909   51        1     10   =C2*8    =AVERAGE(B2:E2)
1        10369   49        1      8   =C3*8    =AVERAGE(B3:E3)
2        35101   56        3     12   =C4*8    =AVERAGE(B4:E4)
3        25192   47        3     12   =C5*8    =AVERAGE(B5:E5)
4        75658   50        3     10   =C6*8    =AVERAGE(B6:E6)
5        25765   55        2     12   =C7*8    =AVERAGE(B7:E7)
6        57464   52        1     11   =C8*8    =AVERAGE(B8:E8)
7        14530   50        2      8   =C9*8    =AVERAGE(B9:E9)
8        21888   52        2      9  =C10*8  =AVERAGE(B10:E10)
9        43631   53        2      8  =C11*8  =AVERAGE(B11:E11)
10       14528   55        1      8  =C12*8  =AVERAGE(B12:E12)
11       70171   58        3     10  =C13*8  =AVERAGE(B13:E13)
12       14654   58        2     10  =C14*8  =AVERAGE(B14:E14)
13       81574   50        3      9  =C15*8  =AVERAGE(B15:E15)
14       67203   52        1     12  =C16*8  =AVERAGE(B16:E16)
15       19792   48        2      9  =C17*8  =AVERAGE(B17:E17)
16       95847   56        2      9  =C18*8  =AVERAGE(B18:E18)
17       21922   52        3     10  =C19*8  =AVERAGE(B19:E19)
18       49434   48        1     10  =C20*8  =AVERAGE(B20:E20)
19       64334   50        2     11  =C21*8  =AVERAGE(B21:E21)
20       11988   49        2     12  =C22*8  =AVERAGE(B22:E22)
21       51090   46        3      9  =C23*8  =AVERAGE(B23:E23)
22       72970   49        3     10  =C24*8  =AVERAGE(B24:E24)
23       57054   50        1     12  =C25*8  =AVERAGE(B25:E25)

In [140]:
#extract values from sheet_2 and convert into a data frame
data_2 = sheet_2.values
col_2 = next(data_2)[1:]
data_2 = list(data_2)
col_2 = ['p_id', 'nam', 'kf', 'ave']

df_2 = pd.DataFrame(data_2, columns=col_2)

In [142]:
print(df_2) #all columns present

     p_id  nam  kf                ave
0   95909    5  20    =AVERAGE(B2:C2)
1   10369    6  17    =AVERAGE(B3:C3)
2    1111    6  13    =AVERAGE(B4:C4)
3   75658    6  15    =AVERAGE(B5:C5)
4   25765    4  10    =AVERAGE(B6:C6)
5    4323    4  20    =AVERAGE(B7:C7)
6   14530    5  10    =AVERAGE(B8:C8)
7   21888    5  20    =AVERAGE(B9:C9)
8   43631    4  14  =AVERAGE(B10:C10)
9     532    6  16  =AVERAGE(B11:C11)
10  70171    4  15  =AVERAGE(B12:C12)
11  66435    6  15  =AVERAGE(B13:C13)
12  81574    4  12  =AVERAGE(B14:C14)
13  67203    5   8  =AVERAGE(B15:C15)
14  19792    6   8  =AVERAGE(B16:C16)
15     64    5  19  =AVERAGE(B17:C17)
16  21922    5  15  =AVERAGE(B18:C18)
17  49434    5  17  =AVERAGE(B19:C19)
18  64334    6   9  =AVERAGE(B20:C20)
19    775    6   9  =AVERAGE(B21:C21)
20  51090    6  11  =AVERAGE(B22:C22)
21  72970    6  10  =AVERAGE(B23:C23)
22     34    4  17  =AVERAGE(B24:C24)

In [143]:
#check out the column name for data frame 1
df_1.columns

Index(['patient id', 'age', 'smoking', 'smart', 'asdf', 'min im'], dtype='object')

In [144]:
#check out the column names for data frame 2
df_2.columns

Index(['p_id', 'nam', 'kf', 'ave'], dtype='object')

In [152]:
#merge on column 'patient id' and 'p_id' and include values only present in one data frame
new_df = pd.merge(df_1, df_2, how='outer', left_on='patient id', right_on='p_id')

In [153]:
#check out if all columns are present
new_df.columns

Index(['patient id', 'age', 'smoking', 'smart', 'asdf', 'min im', 'p_id',
       'nam', 'kf', 'ave'],
      dtype='object')

In [154]:
print(new_df)

    patient id   age  smoking  smart    asdf             min im     p_id  nam  \
0      95909.0  51.0      1.0   10.0   =C2*8    =AVERAGE(B2:E2)  95909.0  5.0
1      10369.0  49.0      1.0    8.0   =C3*8    =AVERAGE(B3:E3)  10369.0  6.0
2      35101.0  56.0      3.0   12.0   =C4*8    =AVERAGE(B4:E4)      NaN  NaN
3      25192.0  47.0      3.0   12.0   =C5*8    =AVERAGE(B5:E5)      NaN  NaN
4      75658.0  50.0      3.0   10.0   =C6*8    =AVERAGE(B6:E6)  75658.0  6.0
5      25765.0  55.0      2.0   12.0   =C7*8    =AVERAGE(B7:E7)  25765.0  4.0
6      57464.0  52.0      1.0   11.0   =C8*8    =AVERAGE(B8:E8)      NaN  NaN
7      14530.0  50.0      2.0    8.0   =C9*8    =AVERAGE(B9:E9)  14530.0  5.0
8      21888.0  52.0      2.0    9.0  =C10*8  =AVERAGE(B10:E10)  21888.0  5.0
9      43631.0  53.0      2.0    8.0  =C11*8  =AVERAGE(B11:E11)  43631.0  4.0
10     14528.0  55.0      1.0    8.0  =C12*8  =AVERAGE(B12:E12)      NaN  NaN
11     70171.0  58.0      3.0   10.0  =C13*8  =AVERAGE(B13:E13)  70171.0  4.0
12     14654.0  58.0      2.0   10.0  =C14*8  =AVERAGE(B14:E14)      NaN  NaN
13     81574.0  50.0      3.0    9.0  =C15*8  =AVERAGE(B15:E15)  81574.0  4.0
14     67203.0  52.0      1.0   12.0  =C16*8  =AVERAGE(B16:E16)  67203.0  5.0
15     19792.0  48.0      2.0    9.0  =C17*8  =AVERAGE(B17:E17)  19792.0  6.0
16     95847.0  56.0      2.0    9.0  =C18*8  =AVERAGE(B18:E18)      NaN  NaN
17     21922.0  52.0      3.0   10.0  =C19*8  =AVERAGE(B19:E19)  21922.0  5.0
18     49434.0  48.0      1.0   10.0  =C20*8  =AVERAGE(B20:E20)  49434.0  5.0
19     64334.0  50.0      2.0   11.0  =C21*8  =AVERAGE(B21:E21)  64334.0  6.0
20     11988.0  49.0      2.0   12.0  =C22*8  =AVERAGE(B22:E22)      NaN  NaN
21     51090.0  46.0      3.0    9.0  =C23*8  =AVERAGE(B23:E23)  51090.0  6.0
22     72970.0  49.0      3.0   10.0  =C24*8  =AVERAGE(B24:E24)  72970.0  6.0
23     57054.0  50.0      1.0   12.0  =C25*8  =AVERAGE(B25:E25)      NaN  NaN
24         NaN   NaN      NaN    NaN     NaN                NaN   1111.0  6.0
25         NaN   NaN      NaN    NaN     NaN                NaN   4323.0  4.0
26         NaN   NaN      NaN    NaN     NaN                NaN    532.0  6.0
27         NaN   NaN      NaN    NaN     NaN                NaN  66435.0  6.0
28         NaN   NaN      NaN    NaN     NaN                NaN     64.0  5.0
29         NaN   NaN      NaN    NaN     NaN                NaN    775.0  6.0
30         NaN   NaN      NaN    NaN     NaN                NaN     34.0  4.0

      kf                ave
0   20.0    =AVERAGE(B2:C2)
1   17.0    =AVERAGE(B3:C3)
2    NaN                NaN
3    NaN                NaN
4   15.0    =AVERAGE(B5:C5)
5   10.0    =AVERAGE(B6:C6)
6    NaN                NaN
7   10.0    =AVERAGE(B8:C8)
8   20.0    =AVERAGE(B9:C9)
9   14.0  =AVERAGE(B10:C10)
10   NaN                NaN
11  15.0  =AVERAGE(B12:C12)
12   NaN                NaN
13  12.0  =AVERAGE(B14:C14)
14   8.0  =AVERAGE(B15:C15)
15   8.0  =AVERAGE(B16:C16)
16   NaN                NaN
17  15.0  =AVERAGE(B18:C18)
18  17.0  =AVERAGE(B19:C19)
19   9.0  =AVERAGE(B20:C20)
20   NaN                NaN
21  11.0  =AVERAGE(B22:C22)
22  10.0  =AVERAGE(B23:C23)
23   NaN                NaN
24  13.0    =AVERAGE(B4:C4)
25  20.0    =AVERAGE(B7:C7)
26  16.0  =AVERAGE(B11:C11)
27  15.0  =AVERAGE(B13:C13)
28  19.0  =AVERAGE(B17:C17)
29   9.0  =AVERAGE(B21:C21)
30  17.0  =AVERAGE(B24:C24)

In [155]:
#Convert the data frame we made above into an excel file
new_df.to_excel("New_excel_file_for_homework.xlsx")